
/* GENERAL STYLES */
body,
body *,
body *:before,
body *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  padding: 0;
  margin: 0;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 150px 1fr;
}

.container {
  display: grid;
  height: 100%;
  max-height: 100%;
}

/* SIDEBAR STYLES */
.sidebar {
  background-color: #0f0f2c;
  grid-row-end: span 2;
  color: white;
  grid-template-rows: repeat(12, 1fr);
  /* padding: 1rem 0; */
}

.sidebar>.container {
  padding-inline: 1.2rem;
  list-style: none;
}

.icon {
  height: 1rem;
  display: inline-block;
}

.sidebar .branding {
  grid-row: 1/3;
  display: grid;
  grid-template-columns: repeat(5);
  align-items: center;
}

.logo {
  grid-column: 1/2;
  justify-self: end;
  height: 3rem;
  display: inline-block;
  border-radius: 50%;
  padding: .5rem;
}

.branding > p {
  grid-column: 2/6;
  font-weight: 800;
  font-size: 1.5rem;
}

.sidebar .navigation {
  grid-row: 3/7;
}

.sidebar .account {
  grid-row: 8/10;
}

.sidebar li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.sidebar li img {
  grid-column: 1/3;
}

.sidebar li p {
  grid-column: 3/8;
}

/* HEADER STYLES */
.header {
  position: relative;
  background-color: #d0e1f0;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 3rem 4.2rem;
  padding: 1em 2.6em;
  box-shadow: 0px 0px 10px #0000005f;
  z-index: 3;
}

.searchbar {
  grid-row: 1;
  grid-column: 1/7;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}

.searchbar .icon {
  grid-column: 1;
  height: 1.3rem;
  justify-self: center;
}

.searchbar input {
  grid-column: 2/13;
  height: 60%;
  border-radius: 5rem;
  border: 1px solid gray;
  padding: .5rem;
}

.profile-notif.container {
  grid-row: 1;
  grid-column: 10/13;
  justify-items: center;
  align-items: center;
}

.profile-notif.container>* {
  width: min-content;
}

.profile-notif.container .icon {
  height: 1.3rem;
}

.profile-image {
  height: 2rem;
  display: inline-block;
  background-color: #7F7F7F;
  border-radius: 50%;
  padding: .315em;
}

.user-info.container {
  grid-row: 2;
  grid-column: 1/5;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-size: .865rem;
}

.user-info.container .profile-image {
  grid-row: 1/5;
  grid-column: 1/2;
  height: 3rem;
  place-self: center;
}

.user-info.container>p:first-of-type {
  grid-row: 2/3;
  grid-column: 2/5;
}

.user-info.container>p:last-of-type {
  grid-row: 3/4;
  grid-column: 2/5;
  font-weight: 700;
  font-size: 1.1rem;
  align-self: auto;
}

.buttons.container {
  grid-row: 2;
  grid-column: 9/13;
  gap: 1em;
}

.buttons.container button {
  align-self: center;
  justify-self: center;
  border: none;
  background-color: #0f0f2c;
  color: white;
  padding: .4rem;
  border-radius: 1.8rem;
  font-size: 1rem;
  width: min(100%, 90px);
}

.profile-notif.container,
.buttons.container {
  grid-template-columns: repeat(3, 1fr);
}

button,
.sidebar li,
.branding>* {
  cursor: pointer;
}

/* MAIN SECTION STYLES */
.main {
  background-color: #97a4a5;
  grid-column: 2;
  padding: 2rem;
  height: calc(100vh - 150px);
  overflow-y: scroll;
}

.overflow-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: clamp(1rem, 2%, 3rem);
}

.main h1 {
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

/* PROJECTS SECTION STYLES */
.projects {
  grid-row: 1/12;
  grid-column: 1/4;
}

.projects h2 {
  font-size: 1.125rem;
}

.card-container.container {
  grid-template-columns: repeat(auto-fit, minmax(20%, 350px));
  grid-template-rows: repeat(auto-fit, minmax(8%, 216px));
  gap: clamp(1rem, 3%, 3rem);
  justify-content: center;
  height: fit-content;
}

.project-card {
  border-left: .7em solid #ffa41b;
  height: fit-content;
}

.project-card div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50%;
  margin-left: auto;
  margin-top: 2em;
}

.project-card button {
  border: none;
  background-color: transparent;
}

/* ANNOUNCEMENTS SECTION STYLES */
.announcements {
  grid-row: 1/6;
  grid-column: 4/5;
}

.announcements h2 {
  font-size: 1rem;
}

.announcements p {
  font-size: .7rem;
}

.announcement-item {
  padding: .7rem .5rem;
}

.announcement-item:not(.item-1) {
  border-top: .025rem solid lightgray;
}

/* TRENDING SECTION STYLES */
.trending {
  grid-row: 7/11;
  grid-column: 4/5;
}

.trending-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: .7rem;
  row-gap: .2rem;
}

.trending-item:not(.item-1) {
  margin-top: 1.2rem;
}

.trending-item .profile-image {
  grid-row: 1/3;
  grid-column: 1/2;
  place-self: center;
}

.trending-item p:first-of-type {
  grid-row: 1/2;
  grid-column: 2/5;
  font-weight: 700;
  font-size: .75rem;
  align-self: end;
}

.trending-item p:last-child {
  grid-row: 2/3;
  grid-column: 2/5;
  font-weight: 400;
  font-size: .7rem;
  align-self: start;
}

.project-card,
.announcements-container,
.trending-container {
  background-color: white;
  border-radius: .4rem;
  padding: 1rem;
  box-shadow: 3px 3px 5px -2px #0000003d;
}

@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: 55px 1fr;
  }
  .logo {
    justify-self: center;
  }
  .branding > p {
    display: none;
  }
  .sidebar li {
    display: block;
  }
  .sidebar li p {
    display: none;
  }
  .user-info.container {
    grid-column: 1/7;
  }
  .buttons.container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: .1rem;
    grid-column: 10/13;
  }
}

@media screen and (max-width: 1024px) {
  .user-info.container>p:last-of-type {
    font-size: .9rem;
  }
  .profile-image {
    height: 1.4rem;
  }
  .user-info.container .profile-image {
    height: 2rem;
  }
  .profile-notif.container {
    font-size: .7rem;
  }
  .buttons.container button {
    font-size: .8rem;
    padding-block: .2rem;
  }
}

@media screen and (max-width: 1228px) {
  .announcements {
    grid-row: 1/3;
  }
  .trending {
    grid-row: 3/5;
  }
  .card-container.container {
    gap: clamp(.5rem, 1.5%, 1rem);
  }
}

@media screen and (max-width: 624px) {
  .overflow-container {
    padding-bottom: 1.5rem;
  }
  .projects {
    grid-row: 1/11;
    grid-column: 1/5;
  }
  .announcements {
    grid-row: 6/7;
    grid-column: 1/5;
  }
  .trending {
    grid-row: 7/8;
    grid-column: 1/5;
  }
  .header {
    padding: .6rem;
  }
  .user-info.container {
    grid-column: 1/8;
  }
  .profile-notif.container {
    grid-column: 8/13;
  }
}
